cc = gcc

# additional options always passed to the compiler:
--parallel_build: "0" # 0 to auto-detect number of processors
--threads:on
-d:ssl

# external library flags
-d:pixieNoSimd
-d:zippyNoSimd
-d:crunchyNoSimd

# Compiler flags
--passC:"-march=native"
--passC:"-mavx"

# Ferus specific compiler flags
hint[XDeclaredButNotUsed]=off

# -d:ferusAabbDrawRect
# -d:ferusUseVerboseLogging
# -d:ferusNoParallelIPC
