/*
 * Ferus' user agent stylesheet.
 * This is the first stylesheet loaded into the layout engine.
 * 
 * Author(s):
 * Trayambak Rai (xtrayambak at disroot dot org)
*/

/* Paragraphs */
p {
  font-size: 24px;
  color: rgb(0, 0, 0);
}

strong {
  font-size: 24px; 
  color: rgb(0, 0, 0);
} /* FIXME: add support for multiple class matchers in one selector */
a {
  font-size: 24px;
  color: rgb(0, 0, 255); /* Make anchors appear blue. */
  text-decoration: underline;
}

/* Headings
 * They progressively get smaller with each level.
*/
h1 {
  font-size: 32px;
  color: rgb(0, 0, 0);
}
h2 {
  font-size: 30px;
  color: rgb(0, 0, 0);
}
h3 {
  font-size: 28px;
  color: rgb(0, 0, 0);
}
h4 {
  font-size: 24px;
  color: rgb(0, 0, 0);
}
h5 {
  font-size: 22px;
  color: rgb(0, 0, 0);
}
h6 {
  font-size: 20px;
  color: rgb(0, 0, 0);
}
